{{- define "tuple-type" -}}
Tuple{{ .N }}[{{ range $i := .N }}{{ if ne $i 0 }}, {{ end }}T{{ add $i 1 }}{{ end }} any]
{{- end }}
type {{ template "tuple-type" . }} struct {
{{- range $i := .N }}
	V{{ add $i 1 }} T{{ add $i 1 }}
{{- end }}
}
