name: Lint

on:
  push:
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.18
          stable: false
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout 120s --max-same-issues 50

      - name: Bearer
        uses: bearer/bearer-action@v2
        with:
          skip-path: 'docs/'

      # - name: Install mdsf
      #   uses: hougesen/mdsf@main

      # - name: Run mdsf
      #   run: mdsf --debug --log-level warn docs/
