name: Tests

on:
  push:
  # pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - "1.18"
          - "1.19"
          - "1.20"
          - "1.21"
          - "1.22"
          - "1.23"
          - "1.24"
          - "1.25"
          - "1.26"
          - "stable"

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: Test coverage
        run: make coverage
        if: matrix.go == 'stable'

      - name: Benchmark
        run: |
          echo "CPU info:"
          cat /proc/cpuinfo
          echo "---"
          cd exp/simd/
          GOEXPERIMENT=simd go test -run=^Benchmark -benchmem -bench ./...
        if: matrix.go == 'stable'

      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          verbose: true
        if: matrix.go == 'stable'
